@{
    ViewBag.Title = "Chat";
}
<div id="popUpContainer" class="notificationBalloon"></div>
<h2>Chat</h2>
<table>
    <tr>
        <td>
            <form>
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Send" />
                <input type="radio" name="grouprad" value="g1" /> Group 1
                <input type="radio" name="grouprad" value="g2" /> Group 2
                <input type="radio" name="grouprad" value="g3" /> Group 3
                <input type="radio" name="grouprad" value="all" /> All
                <input type="hidden" id="groupselected" value="all"/>
            </form>
        </td>
        <td rowspan="2">
            <ul id="group1list">
                <li>Group1</li>
            </ul>
            <ul id="group2list">
                <li>Group2</li>
            </ul>
            <ul id="group3list">
                <li>Group3</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <thead>
                    <tr>
                        <td>
                            Group
                        </td>
                        <td>
                            Notification
                        </td>
                    </tr>
                </thead>
                <tbody id="notiftable">
                </tbody>
            </table>
        </td>
    </tr>
</table>
    
    


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/custom/Chat.js"></script>
    <link href="~/css/chat.css" rel="stylesheet" />
}

