@section scripts{

    <script src="~/Scripts/custom/NotiClient.js"></script>
}

<div ng-app="NotiApp" class="container">
    <br />
    <br />
    <br />
    <div ng-controller="NotiController">
        <table class="table">
            <tr ng-repeat="r in notis | orderBy:'-'">
                <td>{{r.ID}}</td>
                <td>{{r.title}}</td>
                <td>{{r.desc}}</td>
                <td><b ng-repeat="u in r.Recipients | orderBy:'+UserId'" > {{u.UserId}}{{$last ? '' : ', '}}</b></td>
                

        </table>

    </div>

</div>
