@section scripts{

    <script src="~/Scripts/custom/UserClient.js"></script>
}

<div ng-app="UserApp" class="container">
    <br />
    <br />
    <input type="search" placeholder="Search Username" ng-model="userName" />
    <br />
    <div ng-controller="UserController">
        <div ng-controller="NotiController">
            <table class="table">
                <tr ng-repeat="r in usernotifs | orderBy:'-'">
                    <td>{{notis[r.NotiID].desc}}</td>
                    <td><b ng-repeat="u in notis[r.NotiID].Recipients | orderBy:'+UserId'"> {{u.UserId}}{{$last ? '' : ', '}}</b></td>
            </table>
        </div>
    </div>

</div>
